aiohttp
async-timeout
attrs
beautifulsoup4
bs4
certifi
chardet
click
Flask
idna
itsdangerous
Jinja2
MarkupSafe
mega.py
multidict
pycryptodome
python-dotenv
pytz
pysocks
requests-toolbelt
six
soupsieve
telepot
tenacity
typing-extensions
urllib3
Werkzeug
yarl
curl_cffi>=0.7.3
lxml[html_clean]
